html, body {
    background:rgb(27, 66, 192);
    font-family: Abel, Arial, Verdana, sans-serif;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
  }
  
  .card {
    width: 450px;
    height: 250px;
    background-color: #fff;
    background: linear-gradient(#f8f8f8, #fff);
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    margin: 1.5rem;
  }
  .card h1 {
    text-align: center;
  }
  
  .card .additional {
    position: absolute;
    width: 150px;
    height: 100%;
    background: linear-gradient(#dE685E, #EE786E);
    transition: width 0.4s;
    overflow: hidden;
    z-index: 2;
  }
  
  .card.green .additional {
    background: linear-gradient(#92bCa6, #A2CCB6);
  }
  
  
  .card:hover .additional {
    width: 100%;
    border-radius: 0 5px 5px 0;
  }
  
  .card .additional .user-card {
    width: 150px;
    height: 100%;
    position: relative;
    float: left;
  }
  
  .card .additional .user-card::after {
    content: "";
    display: block;
    position: absolute;
    top: 10%;
    right: -2px;
    height: 80%;
    border-left: 2px solid rgba(0,0,0,0.025);*/
  }
  